*{
    margin: 0;
    padding: 0;

}
.container{
    text-align: center;
    background-color: aquamarine;
    padding: 20px;
    margin-bottom: 10px;
}
#formulaire{
    margin-top: 100px;
}

.input{
    width: 500px;
}
.notification {
    text-align: left;
}

.poubelle {
    position: relative;
    top: -15px;
   left: 500px;
}